<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="hashed.app.ampassadors">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:name=".Utils.GlobalVariables"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AmpassadorsApp">
        <activity
            android:name=".SideDrawer"
            android:label="@string/title_activity_side_drawer"
            android:theme="@style/Theme.AmpassadorsApp.NoActionBar"></activity>
        <activity android:name=".Activities.ConnectionActivity" />
        <activity android:name=".Activities.GroupMessagingActivity" />
        <activity
            android:name=".Activities.Home_Activity"
            android:screenOrientation="portrait" />
        <activity android:name=".Activities.Admin" />
        <activity android:name=".Activities.profile_edit" />
        <activity android:name=".Activities.PostActivity" />
        <activity android:name=".Activities.sign_up" />
        <activity android:name=".Activities.CreateMeetingActivity" />
        <activity android:name=".Activities.CreatePollActivity" />
        <activity android:name=".Activities.UsersPickerActivity" />
        <activity android:name=".Activities.ZoomActivity"></activity>
        <activity android:name=".Activities.sign_in" />
        <activity android:name=".Activities.PrivateMessagingActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="hashed.app.ampassadors.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

        <service
            android:name=".Services.FirebaseMessaging"
            android:enabled="false"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <receiver
            android:name=".BroadcastReceivers.WifiReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_ACTION" />
            </intent-filter>
        </receiver>

        <service
            android:name=".Services.ShutdownService"
            android:enabled="true"
            android:exported="false"
            android:stopWithTask="false" />

        <receiver android:name=".NotificationUtil.NotificationClickReceiver" />
        <receiver android:name=".NotificationUtil.NotificationDeleteListener" />
    </application>

</manifest>