<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="hashed.app.ampassadors">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:name=".Utils.GlobalVariables"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AmpassadorsApp">
        <activity android:name=".Activities.MeetingActivity"></activity>
        <activity
            android:name=".Activities.CoursesActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activities.PostsSearchActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".Activities.Edit_Post"></activity>
        <activity android:name=".Activities.CoursesActivity" />
        <activity android:name=".Activities.PostsSearchActivity" />
        <activity
            android:name=".Activities.VideoWelcomeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activities.ShowNewsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activities.ShowPollsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activities.ProfileActiv"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activities.WelcomeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activities.PrivacyPolicy"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activities.About_us"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activities.Profile"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activities.PostNewActivity"
            android:configChanges="orientation|keyboard|keyboardHidden|screenLayout|screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activities.List_Sug_Activity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activities.Suggestions_DtailesActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activities.ComplanitsListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activities.Complanits_DetailsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activities.PostPollActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activities.PostNewsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activities.NotificationsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activities.UserSearchActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activities.UserMessageSearchActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activities.ConnectionActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activities.GroupMessagingActivity"
            android:parentActivityName=".Activities.Home_Activity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activities.Home_Activity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activities.Admin"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activities.profile_edit"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activities.sign_up"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activities.CreateMeetingActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activities.CreatePollActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activities.UsersPickerActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activities.sign_in"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activities.ComplaintsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activities.SuggestionsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activities.PrivateMessagingActivity"
            android:parentActivityName=".Activities.Home_Activity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name" />
        <activity
            android:name="com.facebook.CustomTabActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="@string/fb_login_protocol_scheme" />
            </intent-filter>
        </activity>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="hashed.app.ampassadors.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

        <service
            android:name=".Services.FirebaseMessagingService"
            android:enabled="false"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/app_icon" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/dark_green" />

        <receiver
            android:name=".BroadcastReceivers.WifiReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_ACTION" />
            </intent-filter>
        </receiver>

        <service
            android:name=".Services.ShutdownService"
            android:enabled="true"
            android:exported="false"
            android:stopWithTask="false" />

        <receiver android:name=".NotificationUtil.NotificationClickReceiver" />
        <receiver android:name=".NotificationUtil.NotificationDeleteListener" />
        <receiver
            android:name=".BroadcastReceivers.NotificationIndicatorReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="${applicationId}.notificationIndicator" />
            </intent-filter>
        </receiver>
    </application>

</manifest>